[submodule "harmony-web"]
	path = harmony-web
	url = https://github.com/risenfromashes/harmony-web
[submodule "harmony-http"]
	path = harmony-http
	url = https://github.com/risenfromashes/harmony-http
[submodule "harmony-data"]
	path = harmony-data
	url = https://github.com/Sadat-Hossain-01/harmony-data
